.background{
   position: fixed;
   height: 100%;
   width: 100%;
   left:0;
   bottom:0;
   z-index: -1;
   padding-top:0px;
}

body{
    padding: 0;
    margin: 0;
}


.container {
    display: flex;
    flex-direction: column;
    
}

.header {
    display:flex;
    flex-direction:column;
}

.nav-bar {
    position: fixed;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    padding-top: 10px;
    height: 30px;
    width:100%;
    margin-bottom: 10px;
    background-color: rgba(0,0,0);
}


.body{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}

#data-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 80px;
    width: 90%;
    height: auto;
    background-color: rgba(255,255,255, 0.75);
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}
#test{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

}

#table-container {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    width: 800px;
    max-width: 80%;
}
.chart-container{
    height:40%;
    width: 40%;
}

.login {
    flex-direction: column;
    margin-left: auto;
    margin-right:auto;
    background-color: rgba(255,255,255, 0.75);
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 10%;
    padding: 20px;
}
#create-container{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}


.table {
    display: flex;
    flex-direction:column;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
}



#edit_form{
    margin-left: auto;
    margin-right: auto;
}
.pageturn{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.pageturnButton {
    width: 40px;
}

#add-transaction-form{
    flex-direction: column;
    justify-content: space-evenly;
}
.form-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}


#filter-select-container{
    flex-direction: row;
}

#summary{
    flex-direction: column;
    margin-left: 70px;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 500px;
    max-width: 50%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
}

.modal .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-form {
    padding: 22px 40px;
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}



#edit-username{
    width:auto;
}
#overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, .5);
    pointer-events: none;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}