.container {
    display: flex;
    flex-direction: column;
}

.header {
    display:flex;
    flex-direction:column;
}

.nav-bar {
    flex-direction: row;
    justify-content: space-evenly;
}

.body{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#data-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 500px;
    height: 500px;
}

#table-container {
    flex-direction: row;
    justify-content: space-evenly;
}

.login {
    margin-left: auto;
    margin-right:auto;
}
.table {
    display: flex;
    flex-direction:column;
    margin-top: 20px;
}


.pageturn{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.pageturnButton {
    width: 40px;
}

.add-transaction-form{
    flex-direction: column;
    justify-content: space-evenly;
}

.filter-select-container{
    flex-direction: row;
}