.container {
    display: flex;
    flex-direction: column;
}

.header {
    display:flex;
    flex-direction:column;
}

.nav-bar {
    flex-direction: row;
    justify-content: space-evenly;
}

.body{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 80px;
}

#data-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 500px;
    height: 500px;
}

#table-container {
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}


.table {
    display: flex;
    flex-direction:column;
    margin-top: 40px;
    margin-left:auto;
    margin-right:auto;
}



#edit_form{
    margin-left: auto;
    margin-right: auto;
}
.pageturn{
    display:flex;
    flex-direction: row;
    justify-content: center;
}

.pageturnButton {
    width: 40px;
}

#add-transaction-form{
    flex-direction: column;
    justify-content: space-evenly;
}
.form-container{
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
    margin-bottom: 50px;
}


#filter-select-container{
    flex-direction: row;
}

#summary{
    flex-direction: column;
}